body {
    background-color: #002929;

}

.flex-container-1 {
background-color: #002929;
border: 1px dashed black;
display: flex;
border: 1px solid black;
height: 600px;
width: 500px;
flex-direction: row;

}

.flex-container-1 .flex-item {
text-align: center;
background-color: #006464; 
color: white;
border: 1px dashed black;

}

.flex-container-1 .item-1 {
    flex-basis: 900px;

}

.flex-container-1 .item-2 {
    flex-basis: auto;
background-color: pink;

}

.flex-container-1 .item-3 {
    flex-basis: auto;
background-color: orange;

}

.flex-container-2 {
    background-color: #002929;
    border: 1px solid black;
    display: flex;
    height: 600px;
    width: 500px;
    flex-direction: row;
    
    }
    
    .flex-container-2 .flex-item {
    text-align: center;
    background-color: #006464; 
    color: white;
border: 1px dashed black;
flex-grow: 0;

    }

    .flex-container-2 .item-1 {
flex-grow: 1;

    }

.flex-container-2 .item-2 {
background-color: pink;
flex-grow: 2;

}

.flex-container-2 .item-3 {
background-color: yellow;

}

.flex-container-3 {
    background-color: #002929;
    border: 1px solid white;
    display: flex;
    height: 200px;
    width: 500px;
    flex-direction: column;
    
    }
    
    .flex-container-3 .flex-item {
    text-align: center;
    background-color: #006464; 
    color: white;
border: 1px dashed black;
flex-grow: 0;
flex-basis: 400px;


    }

.flex-container-3 .item-1 {
flex-shrink: 3;

}

.flex-container-3 .item-2 {
    background-color: pink;
flex-shrink: 1;

}

.flex-container-3 .item-3 {
    background-color: yellow;
flex-shrink: 1;

}

.flex-container-4 {
    background-color: #002929;
    border: 1px solid white;
    display: flex;
    height: 200px;
    width: 500px;
    flex-direction: column;
    
    }
    
    .flex-container-4 .flex-item {
    text-align: center;
    background-color: #006464; 
    color: white;
border: 1px dashed black;
flex: 0 1 auto;

    }

.flex-container-4 .item-1 {
flex: 0 1 auto;

}

.flex-container-4 .item-2 {
    background-color: pink;
flex: 0 1 auto;

}

.flex-container-4 .item-3 {
    background-color: yellow;
flex: 0 1 auto;

}